
/*
==========================================
start - custom
==========================================
*/
.btn-danger {
  width: 130px;
  margin: 20px;
}

h1 {
  padding-bottom: 50px;

}
.table tbody>tr>td.vert-align {
  vertical-align: middle;
}

.logo {
  height: 50px;
  width: 50px;
}
/*
=========================================
end - custom
=========================================
*/



